h1 {
  color: white;
  background-color: tomato;
  border-radius: 20px;
  padding: 20px;
}

h2 {
  color: white;
  background-color: teal;
  border-radius: 20px;
  padding: 10px;
}

img {
  width: 400px;
  height: auto;
}

li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
